@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.text{
  font-family: 'Inconsolata', monospace;

}

.randomizerButton{
  padding: 20px;
  background-color: #ebe0c3;
  color: white;
  font-size: 25px;

}

.row{
  display: flex;
}

.column{
  margin: 10px;
  flex: 50%;
}

body{
  background-color: orange;
}
